.author-container{
    margin-bottom: 20px;
}
.image-cover{
    width: 845px;
    height: 450px;
    border-radius: 10px;
}
.name-author{
    color: black;
    margin: 20px 0px 0px 30px ;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.info-img{
    width: 60px;
    height: 60px;
}
.info-author{
     display: grid;
     grid-template-columns: 2fr 1fr;
     grid-gap: 0%;
     margin: 10px 163px 16px 16px;
}
.author_Name{
    color: #111;
    font-family: "Exo 2";
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 160%; /* 38.4px */
    margin-bottom: 0%;
    margin-top: 20px;
}
.posted_date{
    color: rgba(17, 17, 17, 0.60);
    font-family: "Exo 2";
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    /* line-height: 160%; 25.6px */
    margin-top: 0px;
}
.time-btn{
    color: black;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.read-btn{
    background-color: white;
}
.bookmark-btn{
    background-color:transparent;
    text-decoration-line: none;
    margin-left: 10px;
}
.icon{
    color: red;
    width: 24px;
    height: 24px;
    margin: -10px -10px -10px -10px; 
}
.big-title{
    color: #111;
    width: 921px;
    font-family: "Exo 2";
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    margin: 16px;
}
.small-tag{
    color: rgba(17, 17, 17, 0.60);
    font-family: "Exo 2";
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 160%;
    margin: 16px;
}
.read-more{
    background-color: transparent;
    background-image: none;
    color: #6047EC;
    font-family: "Exo 2";
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-decoration-line: underline;
    text-transform: none;
    margin: 30px 16px 16px 16px ;

}
